/*
 * Shout out to this video https://www.youtube.com/watch?v=KfOYXvRMc
 * Helped me learn to configure this file a bit. will be modified
 * Channel: Diego Sandoval
 * */
window {
	font-size:  32px;
	font-family: "JetBrains Mono";
	background-color: rgba(50, 50, 50, 0.9);
	color: white;
}

#entry{
	padding: 0.25em;
}

#entry:selected {
	background-color: #e03f54;
}

#text:selected
{
	color: #333333;
}

#input {
	color: #e03f54;
	background-color: rgba(50, 50, 50, 0.5);
	color: white;
	padding: 0.25em;
}
